*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  /*display: flex;*/
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.8;
}

body > #root {
  width: 100%;
}

::selection {
  color: #fff;
  background: #5409ff;
}

header {
  z-index: 99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline-color: #5409ff;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;
}

textarea {
  resize: none;
}


iframe {
  border: none;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

svg {
  vertical-align: top;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}


@keyframes mobileMenuFade {

  from {

  }

  to {
    opacity: .3;
  }
}

@keyframes loaderHide {

  from {
    opacity: 1;
  }

  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes loaderContentHide {

  from {

  }

  to {
    visibility: hidden;
  }
}


@keyframes loaderRotate {

  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
